body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section{
    height: 650px;
    padding-bottom: 30px;
}

.top-bg{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

h1{
    font-size: 50px;
}

span{
    color: orange;
}

.anchor-button{
    text-decoration: none;
    background: linear-gradient(orange, tomato);
    border-radius: 5px;
    padding: 10px 30px;
    font-weight: 700;
    color: white;
}

.half-width{
    width: 50%;
    float: left;
    margin: 20px;
    padding: 40px;
}

.half-width img{
    width: 600px;
}

.dream-area{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.flexible-area{
    display: flex;
    
}

.flexible-area div{
    box-shadow: 10px 20px 30px gray;
    width: 600px;
    margin: 5px auto;
    padding-top: 5px;
}

.flexible-area div h1{
    font-size: 40px;
}

.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    box-shadow: gray;
    margin-top: 60px;
}

.experience-area h3{
    color: orange;
}

#baby-web-area{
    border-left: 7px solid;
    border-image-source: linear-gradient(blue, cyan);
    border-radius: 10px;
    border-image-slice: 1;
}

#fullstack-area{
    border-left: 7px solid;
    border-image-source: linear-gradient(orange, tomato);
    border-radius: 10px;
    border-image-slice: 1;
}

footer{
    text-align: center;
    margin-bottom: 30px;
}